<h2>商品情報編集</h2>

<%= form_with model:@product, url: product_path(@product.id),method: :put, local: true do |f|%>
<%=f.label :商品名 %><br>
 <%=f.text_field :product_name %><br>

<%=f.label :個数 %><br>
 <%=f.text_field :quantity,placeholder: 1 %><br>

<%=f.label :価格 %><br>
 <%=f.text_field :price %><br>
<%= f.submit "変更する"%><br>
<%= link_to "削除する",product_path,method: :delete %><br>
  <%= link_to  "戻る",products_path %>
<% end %>